body{
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    height: 72px;
    background: #1f2937;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 16px;
}

ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* hero section  */

.hero{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2937;
    gap: 24px;
    padding: 48px;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 600px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.intro > p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;

}

 .intro > button{
    padding: 8px 24px;
    background: #3882f6;
    color: white;
    border: none;
    border-radius: 6px;

}

img{
    width: 400px;
    height: auto;
}

/* Information section */



h2{
    margin: 32px auto;
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.card-group {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 170px;
}

.frame{
    height: 170px;
    width: 170px;
    border-color: #3882f6;
    border-width: 3px;
    border-style: solid;
    border-radius: 8%;
}

.card > p {
    text-align: center;
    font-size: 16px;
    color: #8F959E;
}


/* quote section */


.container{
    display: flex;
    justify-content: center;
    padding: 48px;
}

.bg-grey{
    background: #e5e7eb; 
}

.quote-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;  
    padding: 48px;
}

.quote{
    max-width: 50vw;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    margin: 0;
}

.author{
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

/* banner section */

.banner{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    background: #3882f6;
    max-width: 800px;
    color: white;
    border-radius: 8px;
    padding: 24px;

    
}

.banner > button {
    padding: 8px 24px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
}


.cta > p, .cta > h3 {
    padding: 0;
    margin: 0;
}

.footer{
    height: 72px;
    background: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

